/** biome-ignore-all lint/style/noDescendingSpecificity: <explanation> */
@font-face {
	font-family: "RedHatText";
	src: url("assets/fonts/RedHatText-VariableFont_wght.ttf")
		format("truetype-variations");
	font-style: normal;
}

@font-face {
	font-family: "RedHatText";
	src: url("assets/fonts/RedHatText-Italic-VariableFont_wght.ttf")
		format("truetype-variations");
	font-style: italic;
}

:root {
	--clr-white: hsl(0 0% 100%);
	--clr-black: hsl(0 0% 0%);

	--clr-red: hsl(14 86% 42%);
	--clr-green: hsl(159 69% 38%);

	--clr-rose-50: hsl(20 50% 98%);
	--clr-rose-100: hsl(13 31% 94%);
	--clr-rose-300: hsl(14 25% 72%);
	--clr-rose-400: hsl(7 20% 60%);
	--clr-rose-500: hsl(12 20% 44%);
	--clr-rose-900: hsl(14 65% 9%);
}

html {
	scrollbar-gutter: stable;
}

html:has(.confirmed-container[open]) {
	overflow: hidden;
}

body {
	font-family: "RedHatText", sans-serif;
	line-height: 1.5;
	color: var(--clr-rose-900);
	letter-spacing: 0px;
	background-color: var(--clr-rose-50);
}

main {
	display: grid;
	gap: 2rem;

	align-items: start;
	justify-content: center;

	padding: 1.5rem;

	@media (min-width: 1440px) {
		grid-template-columns: max-content 384px;
	}
}

.container {
	display: grid;
	gap: 2rem;
}

.heading {
	font-size: 2.5rem;
	font-weight: 700;
}

.btn {
	position: absolute;
	bottom: -22px;
	display: flex;
	gap: 0.5rem;
	align-items: center;

	padding: 0.75rem;

	font-size: 0.875rem;
	font-weight: 600;
	border-radius: 100vw;
}

.product-list {
	--grid-max-col-count: 3;
	--grid-min-col-size: 210px;
	--grid-gap: 1.5rem;

	/* calculations, do not touch! */
	--grid-col-size-calc: calc(
		(100% - (var(--grid-gap) * var(--grid-max-col-count))) /
		var(--grid-max-col-count)
	);
	--grid-col-min-size-calc: max(
		var(--grid-min-col-size),
		var(--grid-col-size-calc)
	);

	display: grid;

	grid-template-columns: repeat(
			auto-fit,
			minmax(var(--grid-col-min-size-calc), 1fr)
		);
	gap: var(--grid-gap);

	@media (min-width: 1440px) {
		grid-template-columns: repeat(var(--grid-max-col-count), max-content);
	}
}

.item-card {
	display: grid;
	gap: 1rem;
	justify-content: start;
}

.item-card__header {
	position: relative;
	display: grid;
	justify-items: center;
	margin-bottom: 22px;

	& img {
		min-height: 212px;
		max-height: 240px;
		border-radius: 8px;
	}
}

.item-card__header--in-cart img {
	outline: 2px solid var(--clr-red);
}

.btn-add {
	padding-inline: 1.75rem;

	cursor: pointer;
	background-color: var(--clr-white);

	border: 1px solid var(--clr-rose-400);
}

.btn-update {
	justify-content: space-between;

	width: 160px;

	color: var(--clr-white);
	background-color: var(--clr-red);

	border: transparent;

	& button {
		all: unset;
		padding: 4px;
		cursor: pointer;
		border: 1px solid var(--clr-white);
		border-radius: 50%;

		&:hover,
		&:focus,
		&:active {
			background-color: var(--clr-white);
			border-color: var(--clr-red);

			& svg {
				color: var(--clr-red);
			}
		}
	}
}

.product-category {
	font-size: 0.875rem;
	color: var(--clr-rose-500);
}

.product-name {
	font-weight: 600;
}

.product-price {
	font-weight: 600;
	color: var(--clr-red);
}

/* Cart */

.cart__container {
	display: grid;
	gap: 1.5rem;

	padding: 1.5rem;
	font-size: 0.875rem;

	background-color: var(--clr-white);
}

.confirmed__header {
	display: grid;
	gap: 1.5rem;
}

.cart__heading {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--clr-red);
}

.cart__items {
	display: grid;
	gap: 1rem;
}

.cart-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart-item__info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.cart-item__name,
.confirmed-item__name {
	font-weight: 600;
}

.cart-item__details {
	display: flex;
	gap: 0.5rem;
	color: var(--clr-rose-500);
}

.cart-item__quantity,
.confirmed-item__quantity {
	font-weight: 600;
	color: var(--clr-red);
}

.cart-item__total {
	font-weight: 600;
}

.btn-remove {
	all: unset;
	padding: 4px;
	cursor: pointer;
	border: 1px solid var(--clr-rose-400);
	border-radius: 50%;
}

hr {
	border: none;
	border-bottom: 1px solid var(--clr-rose-100);
}

.cart-total,
.confirmed-total {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.cart-total__price,
.confirmed-total__price {
	font-size: 1.5rem;
	font-weight: 700;
}

.cart-carbon {
	display: flex;
	gap: 0.5rem;
	justify-content: center;
	padding: 1rem;

	background-color: var(--clr-rose-50);

	& span {
		font-weight: 600;
	}
}

.btn-confirm {
	all: unset;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	color: var(--clr-white);
	text-align: center;
	cursor: pointer;
	background-color: var(--clr-red);
	border-radius: 100vw;

	&:hover,
	&:focus,
	&:active {
		filter: brightness(0.75);
	}
}

.cart__empty {
	display: grid;
	gap: 1rem;
	justify-content: center;
	min-height: 197px;
	padding-block: 1rem;

	& svg {
		justify-self: center;
	}

	& .placeholder {
		color: var(--clr-rose-500);
	}
}

/* Confirmed Modal */
/* Some of the styles are the same as cart so class names are in cart */

.confirmed-container {
	box-sizing: border-box;
	gap: 2rem;

	padding: 1.5rem;
	padding-top: 2.5rem;

	margin: auto;

	color: var(--clr-rose-900);

	background-color: var(--clr-white);

	border: none;
	border-radius: 12px 12px 0 0;

	@media (max-width: 767px) {
		top: auto;
		bottom: 0;
		width: 100%;
		max-width: 100vw;
	}

	@media (min-width: 768px) {
		min-width: 688px;
		padding: 2.5rem;
		border-radius: 12px;
	}

	@media (min-width: 1440px) {
		min-width: 592px;
	}
}

.confirmed-container[open] {
	display: grid;
}

.confirmed-container::backdrop {
	background-color: hsl(0 0% 0% / 0.5);
}

.confirmed-header {
	display: grid;
	gap: 1rem;
}
.confirmed-header__title {
	display: grid;
	gap: 0.5rem;
}

.confirmed-header__heading {
	font-size: 2.5rem;
	font-weight: 700;
	line-height: 1.2;
}

.confirmed-header_subheading {
	color: var(--clr-rose-500);
}

.confirmed-content {
	display: grid;
	gap: 1.5rem;
	padding: 1.5rem;
	font-size: 0.875rem;
	background-color: var(--clr-rose-50);
}

.confirmed-items {
	display: grid;
	gap: 1rem;
}

.confirmed-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.confirmed-item__details {
	display: flex;
	gap: 1rem;
	align-items: center;

	& img {
		height: 48px;
		aspect-ratio: 1;
	}
}

.confirmed-item__info {
	display: grid;
	gap: 0.5rem;
}

.confirmed-item__amount {
	display: flex;
	gap: 0.5rem;
}

.confirmed-item__price {
	color: var(--clr-rose-500);
}

.confirmed-item__total {
	font-size: 1rem;
	font-weight: 600;
}
