@font-face {
  font-family: "RedHatText";
  src: url("assets/fonts/RedHatText-VariableFont_wght.ttf")
    format("truetype-variations");
  font-style: normal;
}

@font-face {
  font-family: "RedHatText";
  src: url("assets/fonts/RedHatText-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
  font-style: italic;
}

:root {
  --clr-white: hsl(0 0% 100%);
  --clr-black: hsl(0 0% 0%);

  --clr-red: hsl(14 86% 42%);
  --clr-green: hsl(159 69% 38%);
  
  --clr-rose-50: hsl(20 50% 98%);
  --clr-rose-100: hsl(13 31% 94%);
  --clr-rose-300: hsl(14 25% 72%);
  --clr-rose-400: hsl(7 20% 60%);
  --clr-rose-500: hsl(12 20% 44%);
  --clr-rose-900: hsl(14 65% 9%);

}

body {
  background-color: var(--clr-rose-50);
  
  font-family: "RedHatText", sans-serif;
  color: var(--clr-rose-900);
  line-height: 1.5;
  letter-spacing: 0px;

}

main {
  display: grid;
  gap: 2rem;

  padding: 1.5rem;
}

.container {
  display: grid;
  gap: 2rem;
}

.heading {
  font-size:2.5rem;
  font-weight: 700;
}

.btn {
  display: flex;
  gap: 0.5rem;
  align-items: center;

  padding-block: 0.75rem;
  padding-inline: 1.75rem;
  border-radius: 100vw;
  border: 1px solid var(--clr-rose-400);
  background-color: var(--clr-white);

  font-size: 0.875rem;
  font-weight: 600;

  position: absolute;
  bottom: -22px;

  cursor: pointer;
}

.product-list {
  --grid-max-col-count: 3;
  --grid-min-col-size: 210px;
  --grid-gap: 1.5rem;

  /* calculations, do not touch! */
  --grid-col-size-calc: calc((100% - (var(--grid-gap) * var(--grid-max-col-count))) / var(--grid-max-col-count));
  --grid-col-min-size-calc: max(var(--grid-min-col-size), var(--grid-col-size-calc));

  display: grid;
  gap: var(--grid-gap);

  grid-template-columns: repeat(auto-fit, minmax(var(--grid-col-min-size-calc), 1fr));
}

.item-card {
  display: grid;
  gap: 1rem;
}

.item-card__header {
  display: grid;
  justify-items: center;
  position: relative;
  margin-bottom: 22px;
  & img {
    min-height: 212px;
    max-height: 240px;
    border-radius: 8px;
  }
}

.product-category {
  font-size: 0.875rem;
  color: var(--clr-rose-500);
}

.product-name{
  font-weight: 600;
}

.product-price {
  font-weight: 600;
  color: var(--clr-red);
}

/* Cart */

.cart__container {
  display: grid;
  gap: 1.5rem;

  padding: 1.5rem;

  background-color: var(--clr-white);
}

.cart__heading {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--clr-red);
}

.cart__items {
  display: grid;
  gap: 1rem;
  justify-content: center;
  padding-block: 1rem;
  
  & svg {
    justify-self: center;
  }

  & .placeholder {
    font-size: 0.875rem;
    color: var(--clr-rose-500);
  }
}