/* RESET */

/* makes sizing simpler */

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
	padding: 0;
	margin: 0;
	font: inherit;
}

/* dark mode user-agent-styles */

/* html {
  color-scheme: dark light;
} */

/* min body height */

body {
	min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
	display: block;
	max-width: 100%;
}
